<a href="#" class="btn btn-dark" >Geri Dön</a>
  <div id="carouselExampleControls" 
  
   class="carousel slide border border-dark" data-bs-ride="carousel">
    <div class="carousel-inner">
       
      <div class="carousel-item " *ngFor="let image of carimages;  index as i; first as firstImage "  [ngClass]="{ active: firstImage }" >
        <img src="https://localhost:44350/images/{{image.imagePath}}" class="d-block w-100" alt="image.imagePath">
         
   </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
      
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"  data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
   
  </div>  
  <div *ngIf="cardetail" class="col-lg-6 my-auto">
    <h1>{{ cardetail.brandName }}</h1>
    <hr style="width: 25%; opacity: 1; height: 2px">
    <ul class="list-unstyled">
       <li><h5><b>Model Name: </b>{{ cardetail.description }}, {{ cardetail.brandName }}</h5></li>
       <li><h5><b>Color Name: </b>{{ cardetail.colorName }}</h5></li>
       <li><h5><b>Model Year: </b>{{ cardetail.modelYear }}</h5></li>
       <li><h5><b>Günlük Ücret: </b>{{cardetail.dailyPrice }} ₺</h5></li>
    </ul>
    <button class="btn btn-primary rounded-0 px-4" >
       Kirala
    </button>
 </div>